body {
	background-image: url("../images/image2.png");
	background-attachment:fixed;
	clear:both;
}
body{
    Background-color: silver;
Padding:0;
Margin:0;
Border-left:150px black;
Position: absolute;
Border-radius:15px;
}
header h1 { 
    color:#79a5a8;
   text-align:center;
   
  
}
p{
     color:black;
   text-align:center;
}
h1{
    color:#8C7672;
}


td{
	padding-top:4px;
	text-align:justify;
}
.en_tete{
	display:inline-block;
	
}

a{

top: 10px; 
left:10px;
}
main{
    text-align:left;
  ;
}

@font-face { /* DÃ©finition d'une nouvelle police nommÃ©e LearningCurveProRegular */
    font-family: 'GoodDog';
    src: url("GoodDog.eot");
    src: url("GoodDog-webfont.eot?#iefix") format('embedded-opentype'),
         url('GoodDog-webfont.woff') format('woff'),
         url('GoodDog-webfont.ttf') format('truetype'),
         url('GoodDog-webfont.svg#GoodDog-webfont') format('svg');
}

h1 /* Utilisation de la police qu'on vient de dÃ©finir sur les titres */
{
    font-family: 'GoodDog', Arial, serif;
  
}
.liseret, section,
{
    display: inline;
    vertical-align: top;
}
.liseret
{
    float: left;
    width: 100px;
    height: 100%;
    background: black;
    margin : 0%;
    margin-right : 40px;
    padding : 0%;
}
     section
{
    display: inline-block;
    vertical-align: top;
    border: 2px #4c2900 solid;
    border-radius: 10px;
    background-color: rgba(76,41,0,0.2);
    padding: 5px 25px 5px 5px;
    margin: 5px;
    box-shadow: 5px 5px 5px #4c2900;
}
 