body {
	background-image: url("../images/image2.png");
	background-attachment:fixed;
	clear:both;
}
body{
Background-color: silver;
Padding:0;
Margin:0;
Border-left:150px solid gray;
Position: absolute;
Border-radius:15px;
}
header,h1 { 
    color:#79a5a8;
   text-align:center;
}
p{
     color:black;
   text-align:center;
}



td{
	padding-top:4px;
	text-align:justify;
}
.en_tete{
	display:inline-block;
	
}

a{

top: 1%; 
left:1%;
}
main{
    text-align:left;
  
}

@font-face {
    font-family: 'GoodDog';
    src: url("GoodDog.eot");
    src: url("GoodDog-webfont.eot?#iefix") format('embedded-opentype'),
         url('GoodDog-webfont.woff') format('woff'),
         url('GoodDog-webfont.ttf') format('truetype'),
         url('GoodDog-webfont.svg#GoodDog-webfont') format('svg');
}

h1 {
    font-family: 'GoodDog', Arial, serif;
  
}
.liseret, section{

    display: inline;
    vertical-align: top;
}
.liseret
{
    
    width: 0%;
    height: 0%;
    
    margin : 0%;
    margin-right : 0%;
    padding : 0%;
}
     section
{
    display: inline-block;
    vertical-align: top;
    padding: 0.5% 0.5% 0.5% 0.5%;
   
 
}
 